/*
declaration block::after

selector{
property1: value;
property2: value;
property3: value;

}
*/

body{
    background-color: rgb(15, 14, 14);
    color:rgba(246, 162, 6, 0.95)
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}
#memeImage{
    margin-right: 200px;
    
}

h1{
    text-align: center;
}